[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.*"
pillow = "*"
celery = "==4.4.2"
flower = "==0.9.3"
weasyprint = "*"
django-rosetta = "*"
django-parler = "*"
redis = "==3.4.1"

[dev-packages]

[requires]
python_version = "3.8"
